<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi1dYsCcPcRp8NOZzRokmR6G2pKahRDpw</string>
	<key>GCM_SENDER_ID</key>
	<string>765859414312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomstack.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stackecom-b1331</string>
	<key>STORAGE_BUCKET</key>
	<string>stackecom-b1331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765859414312:ios:0c3a4f1deeeae6c008501d</string>
</dict>
</plist>